body{
  margin: 0px;
  text-align: center;
  font-family: Calibri;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #0c898d;
}

maintext{
  color: white;
  text-align: center;
}

th{
  color: white;
  text-align: center;
}

a{
  color: rgb(5, 255, 243);
  text-align: center;
}

b{
  color: rgb(49, 235, 235);
  text-align: center;
}

td{
  color: rgb(5 255 248);
  text-align: center;
}

tr{
  color: black;
  text-align: center;
}

h1{
  margin: 1px;
  text-align: center;
  background-color: rgb(35, 163, 157);
  border-style: double;
  border-radius: 10mm;
  color: #0dd4db;
}

h2{
  text-align: center;
  color: #47e3ff;
}

header{
  color: rgb(5, 187, 178);
  min-width: 10mm;
  max-height: 1000mm;
  text-align: center;
}

help{
  size: 100px;
  margin: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 187, 178);
  border-radius: 1mm;
}

zoom{
  zoom:2
}

zoomb{
  zoom:5
}

hidetext {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  width: fit-content;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(10, 158, 163); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009eb3; 
}

.alert {
  padding: 20px;
  background-color: #1d8d9c;
  border-radius: 50px;
  border-style: outset;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 27px;
  cursor: pointer;
  transition: 0.5s;
}

.closebtn:hover {
  color: rgb(128, 123, 123);
}

alert1{
  font-style: oblique;
  color: rgb(6, 235, 243);
}

alert2{
  font-style: inherit;
  color: rgb(27, 223, 223);
}

.button {
  border: none;
  color: rgb(49, 235, 226);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  color: rgba(207, 202, 202, 0.774);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.button1 {
  background-color: rgb(26, 172, 172);
  text-align: center;
}

.button2 {
  background-color: rgb(172, 31, 26);
  color: rgb(107, 0, 0);
  border-radius: 50px;
  text-align: center;
}

.button3 {
  background-color: rgb(4, 133, 133);
  color: rgb(0, 0, 0);
  font-size: 50px;
  zoom: 0.5;
  background-image: url(https://la-ser.github.io/websites/portal2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 305px;
  border-radius: 20px;
  text-align: center;
}
